@model CarPark.Models.TFlight

@{
    ViewData["Title"] = "Create";
}

<h1>Додати</h1>

<h4>Рейс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label">Маршрут</label>
                <select asp-for="RouteId" class ="form-control" asp-items="ViewBag.RouteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BusId" class="control-label">Автобус</label>
                <select asp-for="BusId" class ="form-control" asp-items="ViewBag.BusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label">Водій</label>
                <select asp-for="DriverId" class ="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BdateRoute" class="control-label">Дата відправки</label>
                <input asp-for="BdateRoute" class="form-control" />
                <span asp-validation-for="BdateRoute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdateRoute" class="control-label">Дата прибуття</label>
                <input asp-for="EdateRoute" class="form-control" />
                <span asp-validation-for="EdateRoute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEnd" class="form-check-label">Завершено</label>
                <input asp-for="IsEnd" class="form-check-input" />
                <span asp-validation-for="IsEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCanselet" class="form-check-label">Скасовано</label>
                <input asp-for="IsCanselet" class="form-check-input" />
                <span asp-validation-for="IsCanselet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
