@model CarPark.Models.DRoute

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>

<h4>Маршрут</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RouteId" />
            <div class="form-group">
                <label asp-for="Bcity" class="control-label">Місто відправки</label>
                <select asp-for="Bcity" class="form-control" asp-items="ViewBag.Bcity"></select>
                <span asp-validation-for="Bcity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecity" class="control-label">Місто прибуття</label>
                <select asp-for="Ecity" class="form-control" asp-items="ViewBag.Ecity"></select>
                <span asp-validation-for="Ecity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteLen" class="control-label">Довжина маршруту</label>
                <input asp-for="RouteLen" class="form-control" />
                <span asp-validation-for="RouteLen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteTime" class="control-label">Час в дорозі</label>
                <input asp-for="RouteTime" class="form-control" />
                <span asp-validation-for="RouteTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsWork" class="form-check-label">Працюючий</label>
                <input asp-for="IsWork" class="form-check-input" />
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
