@model IEnumerable<CarPark.Models.TBill>

@{
    ViewData["Title"] = "Index";
}

<h1>Мої білети</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Маршрут
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BillId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flights.FlightsId)
                </td>
            </tr>
        }
    </tbody>
</table>
